.box{
    position: absolute;
    top: 50px;
    width: 99%;
    height: 100px;
    background-color: rgba(1, 66, 109, 0.263);
    border-radius: 10px;
    background-image: linear-gradient(to bottom,rgba(132, 237, 204, 0.128),white);
}
.box1{
    position: absolute;
    left: 41vw;
    top: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:35px;
    font-weight: 500;
    color: rgba(85, 107, 47, 0.769);
}
img{
    position: absolute;
    top: 180px;
    left: 33vw;
    width: 35vw;
    height: 300px;
}
.box2{
    background-image: linear-gradient(to bottom,white,rgba(132, 237, 204, 0.331));
    position: absolute;
    border-radius: 20px;
    width: 95vw;
    top: 550px;
    left: 22px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
    








    
